<% layout('layout') -%>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <% if (message.length > 0) { %>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <span id="error-login"><strong>Error!</strong> <%= message %></span>
            </div>
            <% } %>
            <h3>Welcome back and enjoy the best products at cheaper prices</h3>
				   <form class="form-signin" action="/login" method="POST">
				  <h2 class="form-signin-heading">Please sign in</h2>

				  <label for="inputEmail" class="sr-only">Email address</label>
				  <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>

				  <label for="inputPassword" class="sr-only">Password</label>
				  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
				  <br/>
			  <button class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>
</form>

            <a id="facebook" class="btn btn-block btn-social btn-facebook" style="height: 35px; font-size: 12px;"
               href="/auth/facebook"> <i class="fa fa-facebook-square pull-right"> &nbsp;&nbsp; Signin with Facebook</i></a>
        </div>
    </div>
</div>